
{% extends "base_zero.html" %}

{%block zero%}
{%load static%}
  {%if stan == 'O'%}
    <p class="h2 col-lg-8">Stan Oddział</p>

    <div class="input-group col-lg-8 pl-3 d-print-none" >
      <div class="input-group-prepend">
        <form class="form " action="{%url 'psychotrop_list' %}" method="post" name="bulk">
        <span class="input-group-text">Pokaż leki wydane od:</span>{% csrf_token %}
      </div>
      <input type="text" aria-label="w_data_od" name="w_data_od" id="w_data_od" value="" class="form-control" required>
      <div class="input-group-prepend">
        <span class="input-group-text">do:</span>
      </div>
      <input type="text" aria-label="w_data_do" name="w_data_do" id="w_data_do" value="" class="form-control" required>
      <input type="text" name="wydane" value="wydane" required id="wydane" class="d-print-none d-none" >
      <div class="input-group-prepend">
        <input type="submit" value="Szukaj" class="btn m-0 p-1 d-print-none">
      </div>
      </form>
  </div>

    {%elif stan == 'A'%}
    <p class="h2 col-lg-8">Stan Apteka</p>
    <div class="input-group col-lg-8 pl-3 d-print-none" >
      <div class="input-group-prepend">
        <form class="form " action="{%url 'psychotrop_list' %}" method="post" name="bulk">
        <span class="input-group-text">Pokaż leki przyjęte od:</span>{% csrf_token %}
      </div>
      <input type="text" aria-label="p_data_od" name="p_data_od" id="p_data_od" value="" class="form-control" required>
      <div class="input-group-prepend">
        <span class="input-group-text">do:</span>
      </div>
      <input type="text" aria-label="p_data_do" name="p_data_do" id="p_data_do" value="" class="form-control" required>
      <input type="text" name="przyjete" value="przyjete" required id="przyjete" class="d-print-none d-none" >
      <div class="input-group-prepend">
        <input type="submit" value="Szukaj" class="btn m-0 p-1 d-print-none">
      </div>
      </form>
  </div>
    {%endif%}
	<div class="row col-lg-12">
	<div class="container-fluid">
    <div class="table-responsive  p-5 col-lg-12">
      <table class="table table-hover " style="border-collapse:collapse; max-width:800px;">
        <thead>
          <th>ID towaru</th>
          {% if sort == 'Nazwa' %}
          <th class="alert alert-danger">Nazwa</th>
          {%elif sort == 'Faktura' and stan == 'A'%}
          <th class="bg-info"> <a href="{%url 'lek_list_nazwa_a' %}" class="text-dark">Nazwa</a> </th>
          {%elif sort == 'Faktura' and stan == 'O'%}
          <th class="bg-info"> <a href="{%url 'lek_list_nazwa_o' %}" class="text-dark">Nazwa</a> </th>
          {%endif%}
          <th width="10%">BLOZ</th>
          <th>Jedn.</th>
          <th>Seria</th>
          <th>Data ważności</th>
          {%if stan == 'O'%}
          <th>Data wydania</th>
          {%endif%}
          <th>Netto [PLN]</th>
          <th>Brutto [PLN]</th>
          <th>PKWiU</th>
          <th>Kod kreskowy</th>
          {% if sort == 'Nazwa' and stan == 'A' %}
          <th class="bg-info"> <a href="{%url 'lek_list_faktura_a' %}" class="text-dark">faktura [Nr]</a> </th>
          {% elif sort == 'Nazwa' and stan == 'O' %}
          <th class="bg-info"> <a href="{%url 'lek_list_faktura_o' %}" class="text-dark">faktura [Nr]</a> </th>
          {%elif sort == 'Faktura'%}
          <th  class="alert alert-danger">Faktura</th>
          {%endif%}

          <th>Wydaj</th>
          <th>Ilosc</th>
        </thead>
        <tbody id="myTable">
          {%for obj in leki%}
          <tr class = "table-active header" >
          <th><b>  {{obj.nazwa}} </th><th> {{obj.ilosc}} szt. </b></th>
          <th width="10%">
            <div class="col-xs-1">
            <form class="form " action="{%url 'lek_list_nazwa_a' %}" method="post" name="bulk">
              {% csrf_token %}
                <input type="text" name="ilosc" id='ilosc' value="" class="form-control form-control-sm"  >
                <input type="text" name="nazwa" value="{{obj.nazwa}}" required id="id_nazwa" class="d-print-none d-none" >
                <input type="text" name="bulk" value="bulk_a" required id="id_bulk" class="d-print-none d-none" >
                <input type="submit" value="Wydaj" class="btn m-0 p-1 alert alert-success d-print-none">
            </form>
          </div>
        </th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th> <span>-</span> </th>

          <th><b>{{obj.ilosc}} szt.</b> </th>
          </tr>
          {%for lek in obj.list%}
          <tr>
            <td>{{lek.id_towaru}}</td>
            <td>{{lek.nazwa}}</td>
            <td>{{lek.BLOZ}}</td>
            <td>{{lek.jednostka}}</td>
            <td>{{lek.seria}}</td>
            <td>{{lek.data_waznosci|date:" d.m.Y"}}</td>
            {%if stan == 'O'%}
            <td>{{lek.data_wydania|date:" d.m.Y"}}</td>
            {%endif%}
            <td>{{lek.cena_netto}}</td>
            <td>{{lek.cena_brutto}}</td>
            <td>{{lek.PKWiU}}</td>
            <td>{{lek.kod_kreskowy}}</td>
            <td>{{lek.faktura}}</td>
            <td>
              {%if stan == 'O'%}
              <form class="form-inline " action="{%url 'lek_list_nazwa_o' %}" method="post">{% csrf_token %}
              <input type="text" name="id" value="{{lek.id}}" required id="id_id" class="d-print-none d-none">
              <input type="submit" value="&#8630;" class="btn m-0 p-1 alert alert-primary d-print-none">


              {%elif stan == 'A'%}
              <form class="form-inline " action="{%url 'lek_list_nazwa_a' %}" method="post">{% csrf_token %}
              <input type="text" name="id" value="{{lek.id}}" required id="id_id" class="d-print-none d-none">
              <input type="submit" value="&#8658;" class="btn m-0 p-1 alert alert-primary d-print-none">
              {%endif%}
              </form>
              </td>
            <td>{{lek.ilosc}}</td>
          </tr>
          {%endfor%}
          {%endfor%}
        </tbody>
      </table>
    </div>


	</div>

	</div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {%endblock%}
